# Arquivos de ambiente virtual do Python
# Nunca comite sua pasta de ambiente virtual
.venv/
venv/
env/

# Arquivos de cache e compilados do Python
__pycache__/
*.pyc

# Arquivos de configuração de IDEs
.vscode/
.idea/

# Docker
# Não comite dados de volumes ou arquivos de override locais
postgres_data/
docker-compose.override.yml